.OrdersPage{
    margin: 10px;
    padding: 10px;
    border: 2px solid black;
    display: flex;
    flex-direction: column;
    align-items: baseline;
}

.Orders_container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.OrderTab{
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: baseline;
    border: 2px solid black;
    margin: 10px;
    padding: 10px;
}

.OrderTab button{
    margin-top: 10px;
}

.OrderTab_bold{
    font-weight: bold;
}