.EditDishForm{
    margin: 10px;
    padding: 10px;
    border: 2px solid black;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background: rgb(160, 158, 158);
}

.EditDishForm form{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
}

.EditDishForm_inner_block{
    margin: 5px 0;
    display: flex;
    align-items: center;
    max-width: 400px;
    width: 100%;
    justify-content: space-between;
}